body {
    background-color: #004c99;
    font-family: 'Poppins', Helvetica, sans-serif;
    margin: 0;
    text-align: center;
    height: 100%;
  }

  .page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
 
  nav a {
    font-family: 'Poppins', Helvetica, sans-serif;
    margin: 1rem;
    padding: 1rem;
    color: white;
    text-decoration: none;
  }
  
 
  main {
    margin: 0;
    color: #000;
    background-color: #adc2d7;
    flex:1;
    text-align: left;
    padding: 2rem;

  }


/* Footer styles */
footer {
    min-height: 50px;
    background: PapayaWhip;
    display: flex;
    align-items: center;
  }
  
  /* Container that holds text + icons */
  .footer-container {
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  /* Icon list */
  .footer-icons {
    display: flex;
    list-style: none;
    gap: 1rem;
  }
 
  /* Icon styling */
  footer svg {
    color: #57705B;

  }
  
  footer svg:hover {
    color: #AABCA3;
  }



  